<div id="modal-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Edit Supplier</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group">
                            <input type="hidden" id="hidId" value="0" />
                            <input type="hidden" id="hidDateCreated" value="0" />
                            <label for="txtName" class="col-md-3 col-sm-3 control-label " style="padding-right:0">Name</label>
                            <div class="col-md-9 col-sm-9">
                                <input type="text" name="txtName" class="form-control" id="txtName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtAddress" class="col-md-3 col-sm-3 control-label " style="padding-right:0">Address</label>
                            <div class="col-md-9 col-sm-9">
                                <input type="text" name="txtAddress" class="form-control" id="txtAddress">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtPhoneNumber" class="col-md-3 col-sm-3 control-label " style="padding-right:0">Phone Number</label>
                            <div class="col-md-9 col-sm-9">
                                <input type="text" name="txtPhoneNumber" class="form-control" id="txtPhoneNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-md-9 col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" id="ckStatus">
                                        <span class="text">Active.</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-md-9 col-sm-9">
                                <button type="button" id="btnSave" class="btn btn-success">Save changes</button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>