@using Microsoft.AspNetCore.Identity
@using QL_Vat_Lieu_Xay_Dung_WebApp.Extensions

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
    <img src="~/assets/admin/images/img.jpg" alt="">@User.GetSpecificClaim("FullName")
</a>
<div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="javascript:;">Help</a>
    <form asp-controller="Account" asp-action="Logout" method="post" id="logout"></form>
    <a class="dropdown-item" onclick="document.getElementById('logout').submit();">
        <i class="fa fa-sign-out pull-right"></i> Log Out
    </a>
</div>