<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Error Page</title>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- //Meta tags -->
    <link rel="stylesheet" href="~/assets/admin/css/style.css" type="text/css" media="all" /><!-- Style-CSS -->
    <link href="~/assets/admin/css/font-awesome.css" rel="stylesheet"><!-- font-awesome-icons -->
</head>

<body>
    <!-- content -->
    <section class="w3l-error-block">
        <div class="mainw3 form">
            <div class="subscribe wrapper">
                <div class="subscribe-w3lsbottom text-center">
                    <div class="w3l-page">
                        Oops!
                    </div>
                    <h6 style="font-size: 22px;font-weight:bold">Bạn Không Có Quyền Truy Cập Vào Trang Này.</h6>
                    <h2>
                        404
                    </h2>
                    <p class="page-mk">page not found</p>
                    <a class="theme-button btn" href="/Admin/Home/Index">
                        Back to Home
                    </a>
                </div>
            </div>
        </div>
        <!-- //content -->
    </section>
</body>
</html>