@model QL_Vat_Lieu_Xay_Dung_Services.ViewModels.Common.FeedbackViewModel
<table>
    <tr>
        <td>Name: </td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Date: </td>
        <td>@Model.DateCreated</td>
    </tr>
    <tr>
        <td>Email: </td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Message: </td>
        <td>@Model.Message</td>
    </tr>
</table>