<div id="modal-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Edit Product</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group">
                            <input type="hidden" id="hidId" value="0" />
                            <input type="hidden" id="hidDateCreated" value="0" />
                            <label for="txtName" class="col-md-3 col-sm-3 control-label " style="padding-right:0">Name</label>
                            <div class="col-md-9 col-sm-9">
                                <input type="text" name="txtName" class="form-control" id="txtName">
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label " style="padding-right:0">Category</label>
                            <div class="col-md-9 col-sm-9">
                                <input id="ddlCategoryId" required class="form-control form-control-category" name="ddlCategoryId" value="">
                            </div>
                        </div>
                        @*brand*@
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label " style="padding-right:0">Brand</label>
                            <div class="col-md-9 col-sm-9">
                                <select required class="form-control form-control-category" id="ddlBrandId">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDesc" class="col-md-3 col-sm-3 control-label " style="padding-right:0">Description</label>
                            <div class="col-md-６ col-sm-9">
                                <textarea rows="4" name="txtDesc" class="form-control" id="txtDesc"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtUnit" class="col-md-3 col-sm-3 control-label " style="padding-right:0">Unit</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtUnit" class="form-control" id="txtUnit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label ">Sell price</label>
                            <div class="col-md-3 col-sm-3">
                                <input type="text" onkeyup="var result = document.getElementsById('txtPrice');var qty = result.value;if (qty < 0 || isNaN( qty )) result.value = 0;" name="txtPrice" class="form-control" id="txtPrice">
                            </div>

                            <label class="col-md-3 col-sm-3 control-label">Promotion</label>
                            <div class="col-md-3 col-sm-3">
                                <input type="text" onkeyup="var result = document.getElementsById('txtPromotionPrice');var qty = result.value;if (qty < 0 || isNaN( qty )) result.value = 0;" name="txtPromotionPrice" class="form-control" id="txtPromotionPrice">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtImage" class="col-md-3 col-sm-3 control-label " style="padding-right:0">Image</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" readonly name="txtImage" class="form-control" id="txtImage" />
                                    <input type="file" id="fileInputImage" style="display:none" />
                                    <span class="input-group-btn">
                                        <input type="button" id="btnSelectImg" class="btn btn-warning" value="Browser" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtContent" class="col-md-3 col-sm-3 control-label " style="padding-right:0">Content</label>
                            <div class="col-md-9 col-sm-9">
                                <textarea id="txtContent" rows="6" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtSeoPageTitle" class="col-md-3 col-sm-3 control-label " style="padding-right:0">SEO title</label>
                            <div class="col-md-9 col-sm-9">
                                <input type="text" name="txtSeoPageTitle" class="form-control" id="txtSeoPageTitle">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtSeoAlias" class="col-md-3 col-sm-3 control-label " style="padding-right:0">SEO Url</label>
                            <div class="col-md-9 col-sm-9">
                                <input type="text" name="txtSeoAlias" class="form-control" id="txtSeoAlias">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtMetaKeyWord" class="col-md-3 col-sm-3 control-label " style="padding-right:0">SEO Keywords</label>
                            <div class="col-md-9 col-sm-9">
                                <input type="text" name="txtMetaKeyWord" class="form-control" id="txtMetaKeyWord">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtMetaDescription" class="col-md-3 col-sm-3 control-label " style="padding-right:0">SEO Description</label>
                            <div class="col-md-9 col-sm-9">
                                <textarea rows="3" name="txtMetaDescription" class="form-control" id="txtMetaDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtTag" class="col-md-3 col-sm-3 control-label " style="padding-right:0">Tag (separated by comma)</label>
                            <div class="col-md-9 col-sm-9">
                                <input type="text" name="txtTag" class="form-control" id="txtTag">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-md-9 col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" id="ckStatus">
                                        <span class="text">Active.</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" id="ckHot">
                                        <span class="text">Hot product</span>
                                    </label>

                                    <label>
                                        <input type="checkbox" checked="checked" id="ckShowHome">
                                        <span class="text">Show on home</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-md-9 col-sm-9">
                                <button type="button" id="btnSave" class="btn btn-success">Save changes</button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>