<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-xs-12">
                <div class="footer-logo"><a href="#"><img src="~/assets/client/images/footer-logo.png" alt="fotter logo"></a> </div>
                <p>Lorem Ipsum is simply dummy text of the print and typesetting industry. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet.</p>
                <div class="social">
                    <ul class="inline-mode">
                        <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="https://www.facebook.com/baolongtranbaolong"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-xs-12 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">Information<a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
                    <div class="tabBlock" id="TabBlock-1">
                        <ul class="list-links list-unstyled">
                            <li><a href="#">Delivery Information</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 col-xs-12 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">Insider<a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
                    <div class="tabBlock" id="TabBlock-3">
                        <ul class="list-links list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="/contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">Working hours<a class="expander visible-xs" href="#TabBlock-5">+</a></h3>
                    <div class="tabBlock" id="TabBlock-5">
                        <div class="footer-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
                        <div class="footer-description">
                            <b>Everyday:</b> 8.30 a.m. - 5.30 p.m.<br>
                        </div>
                        <div class="payment">
                            <ul>
                                <li><a href="#"><img title="Visa" alt="Visa" src="~/assets/client/images/visa.png"></a></li>
                                <li><a href="#"><img title="Paypal" alt="Paypal" src="~/assets/client/images/paypal.png"></a></li>
                                <li><a href="#"><img title="Discover" alt="Discover" src="~/assets/client/images/discover.png"></a></li>
                                <li><a href="#"><img title="Master Card" alt="Master Card" src="~/assets/client/images/master-card.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-coppyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 coppyright"> Copyright © 2020 <a href="#"> Quản Lý Vật Liệu Xây Dựng </a>. All Rights Reserved. </div>
            </div>
        </div>
    </div>
</footer>